* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.po__re {
  position: relative;
}

.po__abs {
  position: absolute;
}

.po__fixed {
  position: fixed;
}

.po__sticky {
  position: -webkit-sticky;
  position: sticky;
}

.d__b {
  display: block;
}

.d__ib {
  display: inline-block;
}

.d__f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d__g {
  display: -ms-grid;
  display: grid;
}

.fd__cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc__sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc__fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.borr-1 {
  border-radius: 1rem !important;
}

html {
  font-size: clamp(12px, calc(.7rem + .25vw), 20px);
}

body {
  margin: 0;
  padding: 0;
  background-color: #18191a;
  color: #fff;
  font-family: Google Sans;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #fff;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9;
  font-size: 14px;
  border-bottom: 1px solid #555;
  top: 0;
}

nav input {
  display: none;
}

nav label {
  top: 10px;
  left: 12px;
  cursor: pointer;
  z-index: 9;
  border-radius: 50%;
  height: 40px;
  opacity: 0;
}

svg {
  height: 2.5rem;
  width: 2.5rem;
}

svg .line {
  fill: none;
  stroke: #4ccb70;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg .line1, svg .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

svg .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

svg .opened .line1, svg .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

svg .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.nav {
  background: #242526;
  height: 4rem;
  padding: 0 2vw;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav #logo {
  width: 140px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

.nav #logo__disappear {
  display: inline;
  margin: 0 1px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav_buttons a {
  padding: 0 1rem;
  margin: 0 10px;
  line-height: 2.5rem;
  display: inline-block;
  border-radius: 8px;
}

.nav_buttons a:hover {
  color: #3498db;
}

#signin {
  color: #fff;
  width: 2.7rem;
  height: 2.7rem;
  right: 20px;
  border-radius: 50%;
}

#signin svg {
  height: 2.5rem;
  width: 2.5rem;
}

#signin:hover {
  background: rgba(225, 225, 225, 0.3);
}

.purple {
  color: #9562ff !important;
}

.blue {
  color: #52b2f2 !important;
}

.cyan {
  color: #00c3ff !important;
}

.green {
  color: #00c583 !important;
}

.yellow {
  color: #ffc100 !important;
}

.red {
  color: #ea3160 !important;
}

.blog {
  position: relative;
  margin-top: 4rem;
  padding-top: 2rem;
}

.blog p {
  color: #bac1c8;
}

.blog .headline, .blog h1 {
  margin: 1rem 0;
  text-align: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 300px;
      grid-template-columns: minmax(0, 1fr) 300px;
  gap: 3rem;
  padding: 3rem;
}

.card__container {
  margin: 0 0 3rem;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  border-radius: 8px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow: hidden;
  background-color: #303030;
  margin-bottom: 40px;
}

.card__image {
  height: 40vh;
  overflow: hidden;
}

.card__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__desc {
  height: 50vh;
  color: #bac1c8;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__desc p {
  padding: 5px 0;
  font-size: .8rem;
  display: inline-block;
  margin: 5px 0 -2px 0;
}

.card__desc svg {
  position: -webkit-sticky;
  position: sticky;
  width: 10px;
  height: 100%;
  z-index: 3;
  opacity: 0.6;
}

.card__desc h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author img {
  width: 10vw;
  margin: 0 5px;
  max-width: 40px;
  height: 10vw;
  max-height: 40px;
  border-radius: 50%;
}

.side__card {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  z-index: 1;
}

.side__card__content {
  border-radius: 8px;
  padding: 1rem;
  background: #000;
}

.side__card::before {
  content: ' ';
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -4;
  border-radius: 12px;
}

.foot {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15rem;
  padding: 16px 4vw;
  display: block;
  background: #242526;
  border-top: 1px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot p {
  margin: 10px 0;
}

.foot .icon {
  margin: 0 3px;
  width: 10vw;
  max-width: 50px;
  height: 10vw;
  max-height: 50px;
  -webkit-filter: grayscale(100%) contrast(110%) brightness(90%);
          filter: grayscale(100%) contrast(110%) brightness(90%);
  border-radius: 50%;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.foot .icon:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.foot #contact__desc {
  display: block;
  width: 300px;
  height: 3rem;
  color: #ddd;
  text-align: center;
  border-radius: 1.3rem;
  line-height: 3rem;
  background: rgba(0, 0, 0, 0.2);
}

.foot figure {
  margin: 0;
}

.foot figure .js__logo {
  width: 10vw;
  max-width: 150px;
  height: 10vw;
  max-height: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  #logo {
    line-height: 4rem;
    display: inline-block;
    margin: auto;
  }
  .nav {
    width: 100% !important;
    padding: 0;
    margin-left: 0;
  }
  .nav_buttons {
    opacity: 0;
    width: Min(300px, calc(100% - 100px));
    height: 100vh;
    min-width: 240px;
    padding-top: 10vh;
    background: #1f5f8a;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 2;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .nav_bg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 1rem;
  }
  .nav_bg a {
    background: #232f3d;
    line-height: 5rem;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
  }
  label {
    opacity: 1 !important;
  }
  input:checked ~ .nav .nav_buttons {
    left: 0 !important;
    opacity: 1;
  }
  .mini-card {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 200px !important;
            flex: 0 0 200px !important;
  }
  .mini-card:hover {
    -webkit-transform: translateY(-7px) !important;
            transform: translateY(-7px) !important;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    display: block !important;
  }
  .wrapper .card__container a {
    width: 100% !important;
  }
  .wrapper .side {
    display: none;
  }
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hero__img::after {
    display: none;
  }
  .hero img {
    width: 120%;
  }
  .hero figcaption {
    padding: 18px;
  }
  .populars {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 640px) {
  #contact__desc {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 2px;
  }
  .card__container {
    -ms-grid-columns: repeat();
        grid-template-columns: repeat();
  }
  .card__container a {
    width: 90vw !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card__container a .card_desc {
    height: 18vh !important;
  }
}
/*# sourceMappingURL=category.css.map */