$gradient: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%)
*:focus
  outline: none
body
  position: relative !important
.content
  margin: 10rem 2rem 4rem 2rem
  h1
    font-size: 2rem
  .wrapper
    grid-template-columns: minmax(0,1fr) 300px
    gap: 3rem
.article
  background: #fff
  color: #111
  padding: 3rem 2rem
  font-size: 1.5rem
  line-height: 2rem
    // 
  h1
    font-size: 2rem
    line-height: 2.1rem
.comment-section
  margin: 4rem 2rem
  h2
    text-align: center
    font-size: 3rem
  .cmt
    display: flex
    align-items: center
    justify-content: space-between
    background: #555
    border-radius: 2rem
    padding: 2rem 2rem
    margin: 2rem 0
    .author
      padding-right: 1rem
      margin-right: 1rem
      border-right: 2px solid #333
      display: flex
      font-size: 1.2rem
      flex-direction: column
      &__name
        display: flex
        align-items: center
        gap: 1rem
        h4
          margin: 1rem 0
        img
          width: 40px
          height: 40px
          border-radius: 50%
      p,h5
        margin: 5px 0

  .write__comment
    display: flex
    flex-direction: column
    textarea
      resize: none
      border-radius: 15px
      font-size: 1.2rem
      padding: 1rem
      &:focus
        outline: none
    input[type = "submit"]
      display: block
      width: 10rem
      font-size: 1.3rem
      border: none
      cursor: pointer
      font-family: Google Sans
      font-weight: 700
      background: #333
      color: white
      line-height: 4rem
      margin-top: 1rem
      border-radius: 1rem
      transition: .1s linear
      &:hover
        background: #3498db
        color: #222222
        transform: translateY(-5px)
        box-shadow: 0 10px 1rem #000
