@media only screen and (max-width: 1200px)
  .underline
    opacity: 0
  #logo
    line-height: 4rem
    display: inline-block
    margin: auto
  .nav
    width: 100% !important
    padding: 0
    // 
    margin-left: 0
    &_buttons
      opacity: 0
      width: Min(300px, calc(100% - 100px))
      height: 100vh
      min-width: 240px
      padding-top: 10vh
      background: #222
      // 
      position: absolute
      top: 0
      left: -100vw
      z-index: 2
      transition: .2s ease-in-out
    &_bg
      display: grid
      grid-template-columns: 1fr 
      gap: 1rem
      // 
      margin: 0 1rem
      a
        background: #555
        line-height: 5rem
        text-align: center
        width: 100%
        padding: 0
        margin: 0
  label
    opacity: 1 !important
  input:checked ~ .nav
    .nav_buttons
      left: 0 !important
      opacity: 1
  //nav -> populars
  .mini-card
    flex: 0 0 200px !important
  .mini-card:hover
    transform: translateY(-7px) 
@media only screen and (max-width: 800px)
  .wrapper
    display: block !important
    .card__container
      a
        width: 100% !important
    .side
      display: none
  // category -> main
  .hero
    grid-template-columns: 1fr
    &__img::after
      display: none
    img
      width: 120%
    figcaption
      padding: 18px
  .populars
    overflow-x: scroll
@media (min-width: 400px) and (max-width: 720px)
  a
@media only screen and (max-width: 640px)
  #contact__desc
    display: none !important
@media only screen and (max-width: 500px)
  .wrapper
    padding: 2px
  .card__container
    a
      width: 90vw !important
      flex-direction: column-reverse
      .card_desc
        height: 18vh !important
