@import ../component/utility
html
  font-size: clamp(12px,calc(.7rem + .25vw),20px)
body
  margin: 0
  padding: 0
  background-color: #18191a
  color: #fff
  font-family: Google Sans
  overflow-x: hidden
  a
    text-decoration: none
    color: #fff
nav
  width: 100%
  position: fixed
  z-index: 9
  font-size: 14px
  border-bottom: 1px solid #555
  top: 0
  input
    display: none
  label
    top: 10px
    left: 12px
    cursor: pointer
    z-index: 9
    border-radius: 50%
    height: 40px
    opacity: 0
svg
  height: 2.5rem
  width: 2.5rem
  .line
    fill: none
    stroke: #4ccb70
    stroke-width: 6
    transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1)
  .line1, .line3
    stroke-dasharray: 60 207
    stroke-width: 6
  .line2
    stroke-dasharray: 60 60
    stroke-width: 6
  .opened .line1,.opened .line3
    stroke-dasharray: 90 207
    stroke-dashoffset: -134
    stroke-width: 6
  .opened .line2
    stroke-dasharray: 1 60
    stroke-dashoffset: -30
    stroke-width: 6
.nav
  background: #242526
  height: 4rem
  padding: 0 2vw
  gap: 2rem
  // divide
  align-items: center
  #logo
    width: 140px
    font-size: 2rem
    text-decoration: none
    color: white
    text-align: center
  #logo__disappear
    display: inline
    // 
    margin: 0 1px
    transition: .2s ease-in-out
  &_buttons
    a
      padding: 0 1rem
      margin: 0 10px
      line-height: 2.5rem
      display: inline-block
      border-radius: 8px
    a:hover
      color: #3498db
#signin
  color: #fff
  width: 2.7rem
  height: 2.7rem
  right: 20px
  border-radius: 50%
  svg
    height: 2.5rem
    width: 2.5rem
  &:hover
    background: rgba(225,225,225,0.3)
