@import ../component/utility
html
  font-size: clamp(12px,calc(.7rem + .25vw),20px)
body
  margin: 0
  padding: 0
  background-color: #202124
  color: #fff
  font-family: Google Sans, Manrope
  background: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../Image/featured.jpg')
  background-size: cover
  background-position: center
  overflow-x: hidden
  a
    text-decoration: none
    color: #fff
body::before
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: auto
  z-index: 99
nav
  width: 100%
  position: fixed
  z-index: 9
  font-size: 14px
  top: 0
  input
    display: none
  label
    top: 10px
    left: 12px
    cursor: pointer
    z-index: 9
    border-radius: 50%
    height: 40px
    opacity: 0
svg
  height: 2.5rem
  width: 2.5rem
  .line
    fill: none
    stroke: #3498db
    stroke-width: 6
    transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1)
  .line1, .line3
    stroke-dasharray: 60 207
    stroke-width: 6
  .line2
    stroke-dasharray: 60 60
    stroke-width: 6
.opened .line1,.opened .line3
    stroke-dasharray: 90 207
    stroke-dashoffset: -134
    stroke-width: 6
.opened .line2
    stroke-dasharray: 1 60
    stroke-dashoffset: -30
    stroke-width: 6
.nav
  background: #323336
  height: 4rem
  padding: 0 2vw
  gap: 2rem
  // divide
  align-items: center
  #logo
    width: 140px
    font-size: 2rem
    text-decoration: none
    color: white
    text-align: center
  #logo__disappear
    display: inline
    // 
    transition: .2s ease-in-out
  &_buttons
    a
      line-height: 4rem
      display: inline-block
      width: 8rem
      text-align: center
      margin: 0
    .underline
      height: 2px
      width: calc(8rem)
      background: #3498db
      transition: .2s ease-in-out
      position: fixed
      top: calc(4rem - 3px)
      display: none
@for $i from 1 to 6
  .nav_bg a:nth-child(#{$i}):hover ~ .underline
    transform: translateX(calc(8rem * (#{$i} - 1)))
    display: block
#signin
  color: #fff
  width: 2.7rem
  right: 20px
  border-radius: 50%
  svg
    height: 2.5rem
    width: 2.5rem
