.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 2rem 0 2rem;
}

.hello {
  font-size: 4rem;
}

.cta {
  font-size: 1.5rem;
  line-height: 5rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

.cta_a {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.cta_a b {
  opacity: 0;
  margin-right: -12.4rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.cta_a:hover {
  background: #343537;
}

.cta_a:hover b {
  opacity: 1;
  margin-right: 0;
  padding-left: 2rem;
}

.cta_a:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cta svg {
  width: 4.5rem;
  height: 4.5rem;
  background: #343537;
  border-radius: 50%;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.hero {
  margin-top: 6rem;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: #444;
  color: #eee;
  font-size: 1.2rem;
  overflow: hidden;
}

.hero__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__img img {
  width: 100%;
  height: 100%;
}

.hero__img::after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 60%;
  height: 100%;
  top: 0;
  width: 65%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(55%, #444));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #444 55%);
}

.hero p {
  padding: 5px 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0 -2px 0;
}

.hero figcaption {
  z-index: 5;
  padding: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.populars {
  padding: 1rem 0.5rem;
  margin: 2vw;
  gap: 2rem;
}

.populars a:hover {
  color: #ddd;
}

.populars__headcard {
  height: 54vh;
  width: 175px;
  margin-left: 1rem;
  background: #000;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
}

.populars__headcard h1 {
  line-height: 1;
  font-size: clamp(1.8rem, calc(1.8rem + .2vw), 3rem);
}

.populars__headcard::before {
  content: "";
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 33px;
}

.populars__container .mini-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
  height: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  background: linear-gradient(85deg, #434343, #262626);
  border-radius: 2rem;
  margin-left: -80px;
  -webkit-box-shadow: -2rem 0 3rem -2rem #000;
          box-shadow: -2rem 0 3rem -2rem #000;
  font-size: .9rem;
}

.populars__container .mini-card .tag {
  font-size: .8rem;
  margin: 3px;
  text-align: center;
  color: #ff7a18;
}

.populars__container .mini-card .tag:hover {
  color: #b36630;
}

.populars__container .mini-card h3 {
  margin: .5rem 0;
  font-size: 1.2rem;
}

.populars__container .mini-card time, .populars__container .mini-card .author-name-prefix {
  color: #7a7a8c;
}

.populars__container .author {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.populars__container .author img {
  margin: 0 5px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.mini-card:first-child {
  margin-left: 0px;
}

.mini-card:hover {
  margin-right: 105px;
  -webkit-transform: rotate(3deg) translateY(1px) translateX(13px);
          transform: rotate(3deg) translateY(1px) translateX(13px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.po__re {
  position: relative;
}

.po__abs {
  position: absolute;
}

.po__fixed {
  position: fixed;
}

.po__sticky {
  position: -webkit-sticky;
  position: sticky;
}

.d__b {
  display: block;
}

.d__ib {
  display: inline-block;
}

.d__f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d__g {
  display: -ms-grid;
  display: grid;
}

.fd__cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc__sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc__fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.borr-1 {
  border-radius: 1rem !important;
}

html {
  font-size: clamp(12px, calc(.7rem + .25vw), 20px);
}

body {
  margin: 0;
  padding: 0;
  background-color: #202124;
  color: #fff;
  font-family: Google Sans;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #fff;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9;
  font-size: 14px;
  top: 0;
}

nav input {
  display: none;
}

nav label {
  top: 10px;
  left: 12px;
  cursor: pointer;
  z-index: 9;
  border-radius: 50%;
  height: 40px;
  opacity: 0;
}

svg {
  height: 2.5rem;
  width: 2.5rem;
}

svg .line {
  fill: none;
  stroke: #4ccb70;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg .line1, svg .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

svg .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

svg .opened .line1, svg .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

svg .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.nav {
  background: #323336;
  height: 4rem;
  padding: 0 2vw;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav #logo {
  width: 140px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

.nav #logo__disappear {
  display: inline;
  margin: 0 1px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav_buttons a {
  line-height: 4rem;
  display: inline-block;
  border-radius: 8px;
  width: 8rem;
  text-align: center;
  margin: 0;
}

.nav_buttons .line {
  height: 2px;
  width: calc(8rem);
  background: #3498db;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: fixed;
  top: calc(4rem - 3px);
  display: none;
}

.nav_bg a:nth-child(1):hover ~ .line {
  -webkit-transform: translateX(calc(8rem * (1 - 1)));
          transform: translateX(calc(8rem * (1 - 1)));
  display: block;
}

.nav_bg a:nth-child(2):hover ~ .line {
  -webkit-transform: translateX(calc(8rem * (2 - 1)));
          transform: translateX(calc(8rem * (2 - 1)));
  display: block;
}

.nav_bg a:nth-child(3):hover ~ .line {
  -webkit-transform: translateX(calc(8rem * (3 - 1)));
          transform: translateX(calc(8rem * (3 - 1)));
  display: block;
}

.nav_bg a:nth-child(4):hover ~ .line {
  -webkit-transform: translateX(calc(8rem * (4 - 1)));
          transform: translateX(calc(8rem * (4 - 1)));
  display: block;
}

.nav_bg a:nth-child(5):hover ~ .line {
  -webkit-transform: translateX(calc(8rem * (5 - 1)));
          transform: translateX(calc(8rem * (5 - 1)));
  display: block;
}

#signin {
  color: #fff;
  width: 2.7rem;
  right: 20px;
  border-radius: 50%;
}

#signin svg {
  height: 2.5rem;
  width: 2.5rem;
}

.foot {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15rem;
  padding: 16px 4vw;
  display: block;
  background: #323336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
}

.foot p {
  margin: 10px 0;
}

.foot .icon {
  margin: 0 3px;
  width: 10vw;
  max-width: 50px;
  height: 10vw;
  max-height: 50px;
  -webkit-filter: grayscale(100%) contrast(110%) brightness(90%);
          filter: grayscale(100%) contrast(110%) brightness(90%);
  border-radius: 50%;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.foot .icon:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.foot #contact__desc {
  display: block;
  width: 300px;
  height: 3rem;
  color: #ddd;
  text-align: center;
  border-radius: 1.3rem;
  line-height: 3rem;
  background: rgba(0, 0, 0, 0.2);
}

.foot figure {
  margin: 0;
}

.foot figure .js__logo {
  width: 10vw;
  max-width: 150px;
  height: 10vw;
  max-height: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  #logo {
    line-height: 4rem;
    display: inline-block;
    margin: auto;
  }
  .nav {
    width: 100% !important;
    padding: 0;
    margin-left: 0;
  }
  .nav_buttons {
    opacity: 0;
    width: Min(300px, calc(100% - 100px));
    height: 100vh;
    min-width: 240px;
    padding-top: 10vh;
    background: #1f5f8a;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 2;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .nav_bg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 1rem;
  }
  .nav_bg a {
    background: #232f3d;
    line-height: 5rem;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
  }
  label {
    opacity: 1 !important;
  }
  input:checked ~ .nav .nav_buttons {
    left: 0 !important;
    opacity: 1;
  }
  .mini-card {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 200px !important;
            flex: 0 0 200px !important;
  }
  .mini-card:hover {
    -webkit-transform: translateY(-7px) !important;
            transform: translateY(-7px) !important;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    display: block !important;
  }
  .wrapper .card__container a {
    width: 100% !important;
  }
  .wrapper .side {
    display: none;
  }
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hero__img::after {
    display: none;
  }
  .hero img {
    width: 120%;
  }
  .hero figcaption {
    padding: 18px;
  }
  .populars {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 640px) {
  #contact__desc {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 2px;
  }
  .card__container {
    -ms-grid-columns: repeat();
        grid-template-columns: repeat();
  }
  .card__container a {
    width: 90vw !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card__container a .card_desc {
    height: 18vh !important;
  }
}
/*# sourceMappingURL=main.css.map */