* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.po__re {
  position: relative;
}

.po__abs {
  position: absolute;
}

.po__fixed {
  position: fixed;
}

.po__sticky {
  position: -webkit-sticky;
  position: sticky;
}

.d__b {
  display: block;
}

.d__ib {
  display: inline-block;
}

.d__f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d__g {
  display: -ms-grid;
  display: grid;
}

.fd__cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc__sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc__fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.borr-1 {
  border-radius: 1rem !important;
}

html {
  font-size: clamp(12px, calc(.7rem + .25vw), 20px);
}

body {
  margin: 0;
  padding: 0;
  background-color: #202124;
  color: #fff;
  font-family: Google Sans, sans-serif;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Image/featured.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #fff;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 99;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9;
  font-size: 14px;
  top: 0;
}

nav input {
  display: none;
}

nav label {
  top: 10px;
  left: 12px;
  cursor: pointer;
  z-index: 9;
  border-radius: 50%;
  height: 40px;
  opacity: 0;
}

.transpr .nav {
  background: none !important;
}

svg {
  height: 2.5rem;
  width: 2.5rem;
}

svg .line {
  fill: none;
  stroke: #3498db;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg .line1, svg .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

svg .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.opened .line1, .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.nav {
  background: #323336;
  height: 4rem;
  padding: 0 2vw;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav #logo {
  width: 140px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

.nav #logo__disappear {
  display: inline;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav_buttons a {
  line-height: 4rem;
  display: inline-block;
  width: 8rem;
  text-align: center;
  margin: 0;
}

.nav_buttons .underline {
  height: 2px;
  width: calc(8rem);
  background: #3498db;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: fixed;
  top: calc(4rem - 3px);
  display: none;
}

.nav_bg a:nth-child(1):hover ~ .underline {
  -webkit-transform: translateX(calc(8rem * (1 - 1)));
          transform: translateX(calc(8rem * (1 - 1)));
  display: block;
}

.nav_bg a:nth-child(2):hover ~ .underline {
  -webkit-transform: translateX(calc(8rem * (2 - 1)));
          transform: translateX(calc(8rem * (2 - 1)));
  display: block;
}

.nav_bg a:nth-child(3):hover ~ .underline {
  -webkit-transform: translateX(calc(8rem * (3 - 1)));
          transform: translateX(calc(8rem * (3 - 1)));
  display: block;
}

.nav_bg a:nth-child(4):hover ~ .underline {
  -webkit-transform: translateX(calc(8rem * (4 - 1)));
          transform: translateX(calc(8rem * (4 - 1)));
  display: block;
}

.nav_bg a:nth-child(5):hover ~ .underline {
  -webkit-transform: translateX(calc(8rem * (5 - 1)));
          transform: translateX(calc(8rem * (5 - 1)));
  display: block;
}

#signin {
  color: #fff;
  width: 2.7rem;
  right: 20px;
  border-radius: 50%;
}

#signin svg {
  height: 2.5rem;
  width: 2.5rem;
}

*:focus {
  outline: none;
}

body {
  position: relative !important;
}

.content {
  margin: 0 0 4rem 0;
}

.content .title {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h1 {
  font-size: 2rem;
}

.content .wrapper {
  -ms-grid-columns: minmax(0, 1fr) 300px;
      grid-template-columns: minmax(0, 1fr) 300px;
  gap: 3rem;
}

.article {
  background: #fff;
  color: #111;
  padding: 3rem 15vw;
  font-size: 2rem;
  line-height: 3rem;
}

.article h1 {
  font-size: 4rem;
  line-height: 5rem;
}

.article .cap {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #444;
  margin: 4px;
}

.article .origami_model {
  background: url("/static/Image/origami_model.png");
}

.article .history-origami {
  background: url("/static/Image/history-origami.jpg");
}

.article .kythuat {
  background: url("/static/Image/kythuat.jpg");
}

.article .paper {
  background: url("/static/Image/paper.png");
}

.article .boneclip {
  background: url("/static/Image/boneclip.png");
}

.article .band {
  background: url("/static/Image/band.png");
}

.article .phanloai {
  background: url("/static/Image/phanloai.png");
}

.article .buffalo {
  background: url("/static/Image/buffalo.png");
}

.article .butterfly {
  background: url("/static/Image/butterfly.png");
}

.article .tessellation {
  background: url("/static/Image/tessellation.png");
}

.article .castle {
  background: url("/static/Image/castle.png");
}

.article .pentagon {
  background: url("/static/Image/pentagon.png");
}

.article .spring {
  background: url("/static/Image/spring.png");
}

.article .img {
  width: 100vw;
  height: 70vh;
  margin-left: 35vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.comment-section {
  margin: 4rem 2rem;
}

.comment-section h2 {
  text-align: center;
  font-size: 3rem;
}

.comment-section .cmt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #555;
  border-radius: 2rem;
  padding: 2rem 2rem;
  margin: 2rem 0;
}

.comment-section .cmt .author {
  padding-right: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.2rem;
  max-width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-section .cmt .author__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

.comment-section .cmt .author__name h4 {
  margin: 1rem 0;
}

.comment-section .cmt .author__name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-section .cmt .author p, .comment-section .cmt .author h5 {
  margin: 5px 0;
}

.comment-section .write__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-section .write__comment textarea {
  resize: none;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 1rem;
}

.comment-section .write__comment textarea:focus {
  outline: none;
}

.comment-section .write__comment input[type="submit"] {
  display: block;
  width: 10rem;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  font-family: Google Sans;
  font-weight: 700;
  background: #333;
  color: white;
  line-height: 4rem;
  margin-top: 1rem;
  border-radius: 1rem;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.comment-section .write__comment input[type="submit"]:hover {
  background: #3498db;
  color: #222222;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 1rem #000;
          box-shadow: 0 10px 1rem #000;
}

.foot {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15rem;
  padding: 16px 4vw;
  display: block;
  background: #323336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
}

.foot a {
  padding: 0 8px;
  height: 10vw;
  margin: 0 -5px;
}

.foot p {
  margin: 10px 0;
}

.foot .icon {
  width: 10vw;
  max-width: 50px;
  height: 10vw;
  max-height: 50px;
  -webkit-filter: grayscale(100%) contrast(110%) brightness(90%);
          filter: grayscale(100%) contrast(110%) brightness(90%);
  border-radius: 50%;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.foot .icon:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.foot #contact__desc {
  display: block;
  width: 300px;
  height: 3rem;
  color: #ddd;
  text-align: center;
  border-radius: 1.3rem;
  line-height: 3rem;
  background: rgba(0, 0, 0, 0.2);
}

.foot figure {
  margin: 0;
}

.foot figure .js__logo {
  width: 10vw;
  max-width: 150px;
  height: 10vw;
  max-height: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  .underline {
    opacity: 0;
  }
  #logo {
    line-height: 4rem;
    display: inline-block;
    margin: auto;
  }
  .nav {
    width: 100% !important;
    padding: 0;
    margin-left: 0;
  }
  .nav_buttons {
    opacity: 0;
    width: Min(350px, calc(100% - 100px));
    height: 104vh;
    min-width: 240px;
    padding-top: 10vh;
    background: #222;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 2;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .nav_bg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 1rem;
  }
  .nav_bg a {
    background: #555;
    line-height: 5rem;
    text-align: center;
    border-radius: 1rem;
    width: 100%;
  }
  label {
    opacity: 1 !important;
  }
  input:checked ~ .nav .nav_buttons {
    left: 0 !important;
    opacity: 1;
  }
  .mini-card {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 200px !important;
            flex: 0 0 200px !important;
  }
  .mini-card:hover {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@media only screen and (max-width: 850px) {
  .wrapper {
    display: block !important;
  }
  .wrapper .card__container a {
    width: 100% !important;
  }
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hero__img::after {
    display: none;
  }
  .hero img {
    width: 120%;
  }
  .hero figcaption {
    padding: 18px;
  }
  .populars {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 640px) {
  #contact__desc {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 2px;
  }
  .card__container a {
    width: 90vw !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card__container a .card_desc {
    height: 18vh !important;
  }
}
/*# sourceMappingURL=blog.css.map */