html {
  font-size: clamp(12px, calc(.7rem + .25vw), 20px);
}

body {
  margin: 0;
  padding: 0;
  font-family: Google Sans;
  background-color: #0A0A2A;
  color: black;
  font-size: 1.3rem;
}

body a {
  text-decoration: none;
  color: black;
}

body h1 {
  font-size: 3rem;
  margin: 1rem;
}

.signup {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
}

.back svg {
  width: 3rem;
  height: 3rem;
}

.major {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.major__form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5% 2rem;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.major__form h1 {
  color: #27ae60;
}

form {
  text-align: center;
  width: 80%;
}

.textbox {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.textbox input {
  padding: 1.5rem;
  width: 88%;
  border-radius: 1rem;
  background: #edf1f0;
  border: none;
}

.textbox input::-webkit-input-placeholder {
  color: #aaa;
  font-family: Google Sans;
}

.textbox input:-ms-input-placeholder {
  color: #aaa;
  font-family: Google Sans;
}

.textbox input::-ms-input-placeholder {
  color: #aaa;
  font-family: Google Sans;
}

.textbox input::placeholder {
  color: #aaa;
  font-family: Google Sans;
}

.textbox input:focus {
  outline: none;
}

.textbox input {
  font-family: Google Sans;
  font-size: 1rem;
}

.textbox svg {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
  color: #aaa;
}

#forgot {
  padding: 5px 0;
  border-bottom: 1px dotted #222;
}

.btn {
  font-size: 1.5rem;
  padding: 1rem 5vw;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  font-family: Google Sans;
}

.btn:hover {
  background: #27ae60;
  color: white;
}

.minor {
  color: white;
  width: 35%;
  background: #27ae60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 5% 2rem;
}

.minor a {
  padding: 1rem 0;
  margin: 2rem 0 0 0;
  border: 1px solid white;
  border-radius: 1.5rem;
}

.minor__button {
  color: white;
}

.minor__button:hover {
  background: #fff;
  color: #111;
}

@media only screen and (max-width: 1200px) {
  .major {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  .major__form {
    width: 100% !important;
    height: 90vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10% 0;
  }
  .textbox input {
    font-size: 1.2rem;
  }
  .minor {
    width: 100%;
  }
}

@media only screen and (max-device-width: 600px) {
  .major {
    font-size: 3rem;
  }
  h1 {
    font-size: 8rem !important;
  }
}
/*# sourceMappingURL=signin.css.map */