<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="icon"
      href="/static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'category_css/category.css' %}" />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      id="nav"
      class="transpr"
    ></nav>
    <section class="blog">
      <h1 style="font-size: 3rem">Blog</h1>
      <p class="headline">
        <br />
        Tin tức, cập nhật và câu chuyện mới nhất của chúng tôi dành cho Origami
      </p>
      <div class="wrapper">
        <section class="card__container">
          <a href="/lichsu" class="card">
            <article class="card__desc">
              <div>
                <h2>Lịch sử của Origami</h2>
              </div>
              <div class="author">
                <img src="../static/Image/hung.jpg" alt="" />
                <p href="" class="author-name">Đào Duy Hưng</p>
              </div>
            </article>
            <div class="card__image">
              <img src="../static/Image/origami_model.png" loading="lazy" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="arrow"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
            </div>
          </a>
          <a href="/kythuat" class="card">
            <article class="card__desc">
              <div>
                <h2>Kỹ thuật và vật liệu</h2>
              </div>
              <div class="author">
                <img src="../static/Image/hung.jpg" alt="" />
                <p href="" class="author-name">Đào Duy Hưng</p>
              </div>
            </article>
            <div class="card__image">
              <img src="../static/Image/kythuat.jpg" loading="lazy" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="arrow"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
            </div>
          </a>
          <a href="/phanloai" class="card">
            <article class="card__desc">
              <div>
                <h2>Các thể loại Origami</h2>
              </div>
              <div class="author">
                <img src="../static/Image/hung.jpg" alt="" />
                <p href="" class="author-name">Đào Duy Hưng</p>
              </div>
            </article>
            <div class="card__image">
              <img src="../static/Image/band.png" loading="lazy" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="arrow"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
            </div>
          </a>
          <a href="/ungdung" class="card">
            <article class="card__desc">
              <div>
                <h2>Toán học và kỹ thuật Origami</h2>
              </div>
              <div class="author">
                <img src="../static/Image/hung.jpg" alt="" />
                <p href="" class="author-name">Đào Duy Hưng</p>
              </div>
            </article>
            <div class="card__image">
              <img src="../static/Image/spring.png" loading="lazy" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="arrow"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
            </div>
          </a>
        </section>
        <section class="side">
          <article class="side__card">
            <div class="side__card__content">
              <h1>Bài viết Origami</h1>
              <p>
                Đây là nơi tổng hợp các bài viết trên trang Origami
              </p>
            </div>
          </article>
        </section>
      </div>
    </section>
    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
