<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'category_css/category.css' %}" />
  </head>
  <body>
    <nav w3-include-html="{% static 'HTML/nav.html' %}" id="nav"></nav>
    <section class="blog">
      <p class="headline">
        <b class="purple">Lịch sử &nbsp &nbsp </b> Tin tức, cập nhật và câu
        chuyện mới nhất của chúng tôi dành cho
      </p>
      <div class="wrapper">
        <section class="card__container">
          <a href="" w3-include-html="{% static 'HTML/card.html' %}" class="card"> </a>
          <a href="" w3-include-html="{% static 'HTML/card.html' %}" class="card"> </a>
          <a href="" w3-include-html="{% static 'HTML/card.html' %}" class="card"> </a>
          <a href="" w3-include-html="{% static 'HTML/card.html' %}" class="card"> </a>
        </section>
        <section class="side">
          <article class="side__card">
            <div class="side__card__content">
              <h1>Lịch sử Origami</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
                ipsum vitae praesentium libero adipisci quo cupiditate temporibus
                tempora nobis odio iste explicabo amet distinctio reiciendis
                laudantium in accusamus, eum quasi.
              </p>
            </div>
          </article>
        </section>
      </div>
    </section>
    <footer w3-include-html="{% static 'HTML/footer.html' %}" class="foot"></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
