<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="icon"
      href="static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      id="nav"
      class="po__fixed transpr"
    ></nav>
    <div id="web__content"> 
      <div class="head">
        <h1 class="hello">
          Chào mừng,<br />
          <b style="color: #3498db">
            {% if user.is_authenticated %} 
              {% if user.first_name %}
                {{user.first_name }} 
              {% else %} 
                {{ user.username }} 
              {% endif %} 
            {% else %} 
                Người dùng mới
            {% endif %}
          </b>
          !
        </h1>
        <div class="cta">
          <a href="" class="cta_a">
            <b> Feel like writing ?</b>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
          </a>
        </div>
      </div>
      <figure class="hero d__g borr-1">
        <a href="/ungdung" class="hero__img po__re">
          <img src="{% static 'Image/origami_satellite.jpg' %}" alt="" />
        </a>
        <figcaption class="d__f fd__cl">
          <p class="d__ib borr-1">31/12/2020, 07:24</p>
          <a href="/ungdung"><h1 style="color: #222;">Chào mừng</h1></a>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            error! Fuga voluptas accusamus quaerat vitae recusandae quae iusto
            accusantium culpa! Quisquam sunt ipsam voluptas eos reiciendis
            perferendis eligendi neque odio?</span
          >
        </figcaption>
      </figure>
    </div>
    <div class="populars d__f">
      <header class="populars__headcard d__f fd__cl jc__fe po__re">
        <h1>Phổ biến gần đây</h1>
      </header>
      <div class="populars__container d__f">
        <article class="mini-card d__f fd__cl">
          <header class="mini-card-header">
            <div class="mini-card-subhead">
              Bài viết
              <time datetime="2020-10-14"> Oct 14, 2020 </time>
            </div>
            <h3 class="read-article">
              <a href="read-article-link">
                How to Create a Realistic Motion Blur with CSS Transitions
              </a>
            </h3>
            <a href="" class="tag"><b>Lịch sử</b></a>
          </header>
          <div class="author d__f">
            <img src="{% static 'Image/hung.jpg' %}" alt="" />
            <a href="" class="author-name">Đào Duy Hưng</a>
          </div>
        </article>
      </div>
    </div>
    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
