<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami</title>
    <link rel="stylesheet" href="..Statics/css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
  </head>
  <body>
    <nav w3-include-html="{% static 'HTML/nav.html' %}" id="nav"></nav>
    <div id="web__content">
      <figure class="hero">
        <a href="" class="hero__img">
          <img src="{% static 'Image/origami_satellite.jpg' %}" alt="" />
        </a>
        <figcaption>
          <p>31/12/2020, 07:24</p>
          <a href=""><h1>Ứng dụng Origami</h1></a>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            error! Fuga voluptas accusamus quaerat vitae recusandae quae iusto
            accusantium culpa! Quisquam sunt ipsam voluptas eos reiciendis
            perferendis eligendi neque odio?</span
          >
        </figcaption>
      </figure>
    </div>
    <a href="#">
      <svg width="32" height="32" viewBox="0 0 100 100" id="totop">
        <path
          fill="white"
          d="m50 0c-13.262 0-25.98 5.2695-35.355 14.645s-14.645 22.094-14.645 35.355 5.2695 25.98 14.645 35.355 22.094 14.645 35.355 14.645 25.98-5.2695 35.355-14.645 14.645-22.094 14.645-35.355-5.2695-25.98-14.645-35.355-22.094-14.645-35.355-14.645zm20.832 62.5-20.832-22.457-20.625 22.457c-1.207 0.74219-2.7656 0.57812-3.7891-0.39844-1.0273-0.98047-1.2695-2.5273-0.58594-3.7695l22.918-25c0.60156-0.61328 1.4297-0.96094 2.2891-0.96094 0.86328 0 1.6914 0.34766 2.293 0.96094l22.918 25c0.88672 1.2891 0.6875 3.0352-0.47266 4.0898-1.1562 1.0508-2.9141 1.0859-4.1133 0.078125z"
        ></path>
      </svg>
    </a>
    <div class="popular-articles">
      <header class="popular-header-card">
        <h1>Popular this month</h1>
      </header>
      <div class="mini-card-container">
        <article class="mini-card">
          <header class="mini-card-header">
            <div class="mini-card-subhead">
              Article
              <time datetime="2020-10-14"> Oct 14, 2020 </time>
            </div>
            <h3 class="read-article">
              <a href="read-article-link">
                How to Create a Realistic Motion Blur with CSS Transitions
              </a>
            </h3>
            <a href="" class="tag"><b>Lịch sử</b></a>
          </header>
          <div class="author">
            <img src="{% static 'Image/hung.jpg' %}" alt="" />
            <a href="" class="author-name">Đào Duy Hưng</a>
          </div>
        </article>
        <article class="mini-card">
          <header class="mini-card-header">
            <div class="mini-card-subhead">
              Article
              <time datetime="2020-10-14"> Oct 14, 2020 </time>
            </div>
            <h3 class="read-article">
              <a href="read-article-link">
                How to Create a Realistic Motion Blur with CSS Transitions
              </a>
            </h3>
            <a href="" class="tag"><b>Lịch sử</b></a>
          </header>
          <div class="author">
            <img src="{% static 'Image/hung.jpg' %}" alt="" />
            <a href="" class="author-name">Đào Duy Hưng</a>
          </div>
        </article>
        <article class="mini-card">
          <header class="mini-card-header">
            <div class="mini-card-subhead">
              Article
              <time datetime="2020-10-14"> Oct 14, 2020 </time>
            </div>
            <h3 class="read-article">
              <a href="read-article-link">
                How to Create a Realistic Motion Blur with CSS Transitions
              </a>
            </h3>
            <a href="" class="tag"><b>Lịch sử</b></a>
          </header>
          <div class="author">
            <img src="{% static 'Image/hung.jpg' %}" alt="" />
            <a href="" class="author-name">Đào Duy Hưng</a>
          </div>
        </article>
        <article class="mini-card">
          <header class="mini-card-header">
            <div class="mini-card-subhead">
              Article
              <time datetime="2020-10-14"> Oct 14, 2020 </time>
            </div>
            <h3 class="read-article">
              <a href="read-article-link">
                How to Create a Realistic Motion Blur with CSS Transitions
              </a>
            </h3>
            <a href="" class="tag"><b>Lịch sử</b></a>
          </header>
          <div class="author">
            <img src="{% static 'Image/hung.jpg' %}" alt="" />
            <a href="" class="author-name">Đào Duy Hưng</a>
          </div>
        </article>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta recusandae
      laborum excepturi provident at voluptatem itaque sint officiis impedit ut
      eum, quas praesentium, ipsa delectus, veritatis quis aliquid obcaecati
      architecto saepe sequi! Commodi, itaque voluptatem, tenetur omnis illo
      laudantium quia facere nemo dolorum atque doloremque animi nostrum hic
      voluptatum sapiente harum officiis dicta neque! Iste illo eum accusantium
      autem unde harum minus voluptatum omnis nulla voluptatem beatae, eaque hic
      doloribus nihil ratione nam pariatur temporibus reiciendis aliquid at quod
      nesciunt sint? Adipisci maxime culpa quis sed aliquam, beatae odit eaque
      fuga facilis dicta voluptatem dolorem molestiae harum pariatur quibusdam
      perferendis sit rerum dolorum inventore quidem nostrum minus fugiat
      aliquid? Itaque totam optio vel eius tempore iure maiores natus in
      voluptatum corrupti aspernatur numquam labore dignissimos, doloremque odio
      nulla eos, amet ipsum earum molestiae, rerum eum. Quasi dolor ipsa libero
      rerum unde tempore ipsam asperiores blanditiis atque odio? Aliquid nisi
      sequi explicabo ut deserunt atque ea quam eveniet dicta odio accusamus
      esse maiores enim itaque perferendis quae numquam asperiores corrupti
      dolores possimus quaerat, nobis culpa. Quisquam impedit eveniet possimus
      nesciunt. Deserunt libero nobis blanditiis tempora, nihil quibusdam id
      eius alias placeat hic, temporibus nemo veniam reiciendis corporis,
      corrupti sunt exercitationem ducimus. Quo consequatur, ipsam nam rem fugit
      aperiam quasi quam recusandae laudantium porro nisi, voluptate neque ut
      unde cum officia asperiores aut voluptas, praesentium saepe! Error nostrum
      quo nihil debitis, iste soluta. Debitis vitae, voluptatem necessitatibus
      voluptate, voluptas repellendus quae officia asperiores quos quas
      exercitationem amet recusandae. Totam maiores temporibus sed, accusantium
      incidunt omnis aspernatur commodi deserunt ex, expedita id voluptas ut
      repudiandae eveniet? Quibusdam esse exercitationem adipisci architecto,
      perferendis eum voluptatem, placeat harum qui dolorum quasi laudantium
      velit dicta magni sequi quia nobis cumque pariatur maiores quas ipsa,
      rerum molestias. Magnam voluptatum cum repellendus quasi laudantium. Saepe
      ipsum aliquam obcaecati, similique eaque architecto porro, ex recusandae
      quasi hic molestias, cum ipsam nulla dolore. Consequatur culpa ipsam aut,
      repellat autem est voluptatem laboriosam rem ipsum suscipit similique
      recusandae sunt deserunt odio a nihil esse nisi magni dolorem? Accusamus
      reiciendis unde quisquam eveniet cupiditate? Quam ea consequuntur
      deleniti, a doloremque recusandae illum praesentium officiis! Non,
      aperiam! Ullam, veritatis eos hic eligendi dolores quod eum ad maiores
      error consectetur aspernatur. Laboriosam libero facere architecto autem
      tempore, beatae aut quis, repudiandae possimus nisi molestias quos
      inventore ea minus. Ipsam dicta aperiam provident inventore similique,
      perspiciatis exercitationem ab ullam perferendis at. Labore non culpa
      voluptate!
    </p>
    <footer w3-include-html="{% static 'HTML/footer.html' %}" class="foot"></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
