<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami - Lịch sử Origami</title>
    <link
      rel="icon"
      href="/static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}" />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      class="po__fixed"
    ></nav>
    <article class="content">
      <h1 style="font-size: 4rem">Lược sử Origami</h1>
      <div class="article borr-1">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
          inventore odit consectetur non, ipsum deleniti, maxime tempora vitae
          optio, iure dolorum cum est laboriosam sapiente amet aperiam. Maiores,
          officiis quae.
        </p>
        <span>
          <h1>Section1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
        <span>
          <h1>Section2</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
        <span>
          <h1>Section3</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
        <span>
          <h1>Section4</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
      </div>
    </article>
    <section class="comment-section">
      <h2>Bình luận</h2>
      {% for cmt in all_comment %}
      <article class="cmt">
        <div class="author">
          <p>{{cmt.user}}</p>
          <h5><p>{{cmt.date}}</p></h5>
        </div>
        <div class="cmt__content">{{cmt.body|linebreaks}}</div>
      </article>
      {% endfor %}
      <div>
        <form method="POST" class="write__comment">
          {% csrf_token %}
          <h2><label>Bình luận tại đây nè :3</label></h2>
          {{form.body}}
          <br />
          <input type="submit" value="Bình luận" />
        </form>
      </div>
    </section>

    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
