<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami - Kỹ thuật và vật liệu</title>
    <link
      rel="icon"
      href="/static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}" />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      class="po__fixed transpr"
    ></nav>
    <article class="content">
      <div class="title">
        <h1 style="font-size: 4rem">Kỹ thuật và vật liệu</h1>
      </div>
      <div class="article">
        <h1>Kỹ thuật</h1>
        <div class="kythuat img"></div>
        <p class="cap">Danh sách 9 cách gấp origami cơ bản: thung lũng (hoặc núi), nếp gấp, tai thỏ, lộn ngược trong, lộn ngược ngoài, gấp nếp gấp, quả bí, bồn rửa và cánh hoa</p>
        Nhiều sách origami bắt đầu với mô tả về các kỹ thuật origami cơ bản được
        sử dụng để tạo ra các mô hình. Điều này bao gồm các phác đồ đơn giản về
        các nếp gấp cơ bản như nếp gấp thung lũng, nếp gấp núi, nếp gấp xếp, nếp
        gấp ngược, nếp gấp nén và nếp gấp chìm. Ngoài ra còn có các mẫu được đặt
        tên tiêu chuẩn được sử dụng trong nhiều loại mô hình khác nhau, ví dụ
        như mẫu hình chim là một giai đoạn trung gian trong việc xây dựng con
        chim vỗ. Các mẫu bổ sung là mẫu sơ bộ (mẫu vuông), mẫu cá, mẫu bom nước
        và mẫu ếch.
        <h1>Giấy origami</h1>
        <div class="paper img"></div>
        <p class="cap">Mô hình con hạc và kích cỡ tờ giấy được sử dụng để gấp nó</p>
        Hầu hết mọi vật liệu cán mỏng (phẳng) đều có thể được sử dụng để gấp;
        yêu cầu duy nhất là nó có thể giữ được nếp gấp. Giấy Origami, thường
        được gọi là "kami" (tiếng Nhật là giấy), được bán trong các hộp hình
        vuông đóng gói sẵn với nhiều kích cỡ khác nhau, từ 2,5 cm (1 in) đến 25
        cm (10 in) hoặc hơn. Nó thường có màu ở một mặt và màu trắng ở mặt khác;
        tuy nhiên, các phiên bản có hoa văn và màu kép có thể được sử dụng hiệu
        quả cho các mô hình đã thay đổi màu sắc. Giấy Origami có trọng lượng nhẹ
        hơn một chút so với giấy phô tô, nên phù hợp với nhiều loại mô hình hơn.
        Giấy phô tô bình thường có trọng lượng 70–90g/m2 (19–24 lb) có thể được
        sử dụng cho các nếp gấp đơn giản, chẳng hạn như con hạc và bom nước.
        Giấy có trọng lượng nặng hơn 100g/m2 (khoảng 25 lb) trở lên có thể áp
        dụng kĩ thuật gấp ướt. Kỹ thuật này cho phép mô hình tròn trịa hơn, mô
        hình cũng trở nên cứng cáp và chắc chắn hơn khi khô. Giấy bồi, như tên
        gọi của nó, là một tờ giấy bạc mỏng được dán vào một tờ giấy mỏng. Liên
        quan đến điều này là giấy lụa, được làm bằng cách dán một mảnh giấy mỏng
        vào giấy nhôm nhà bếp. Có thể dán miếng khăn giấy thứ hai lên mặt sau để
        tạo ra giấy ăn/giấy bạc/giấy sandwich. Giấy bìa bạc có bán sẵn trên thị
        trường, nhưng không phải là giấy bạc; nó được làm thủ công. Cả hai loại
        vật liệu này đều thích hợp cho các mô hình phức tạp. Washi (和紙) là
        loại giấy origami truyền thống được sử dụng ở Nhật Bản. Washi thường
        cứng hơn giấy thông thường làm từ bột gỗ, và được sử dụng trong nhiều
        nghệ thuật truyền thống. Washi thường được làm bằng sợi từ vỏ cây gampi,
        cây bụi mitsumata (Edgeworthia papyrifera), hoặc dâu tằm giấy nhưng cũng
        có thể được làm bằng tre, cây gai dầu, gạo và lúa mì. Các loại giấy thủ
        công như unryu, lokta, hanji, gampi, kozo, saa và abaca có sợi dài và
        thường cực kỳ chắc. Vì những tờ giấy này ban đầu khá mềm, chúng thường
        được tráng nền hoặc thay đổi kích thước bằng methylcellulose hoặc hồ
        tinh bột trước khi gấp. Ngoài ra, những loại giấy này cực kỳ mỏng và có
        thể nén được, cho phép các chi mỏng và hẹp như trong trường hợp mô hình
        côn trùng. Tiền giấy từ các quốc gia khác nhau cũng phổ biến để tạo ra
        origami; nó được biết đến với tên gọi Dollar Origami, Orikane và Money
        Origami.
        <h1>Công cụ</h1>
        <div class="boneclip img"></div>
        <p class="cap">Các thanh xương cũng được sử dụng để tạo nếp gấp cho tờ giấy</p>
        Một số người gấp giấy cho rằng không nên sử dụng công cụ khi gấp. Tuy
        nhiên, một vài công cụ có thể giúp ích đặc biệt với các mô hình phức tạp
        hơn. Ví dụ, một cặp xương cho phép dễ dàng tạo ra các nếp gấp trên giấy,
        kẹp giấy có thể hoạt động như một cặp ngón tay phụ và có thể dùng nhíp
        để tạo các nếp gấp nhỏ. Khi thực hiện mô hình phức tạp từ mẫu nếp gấp
        origami, nó có thể giúp sử dụng một cái thước và bi dập nổi để tạo các
        nếp nhăn. Các mô hình đã hoàn thành có thể được phun ướt để chúng giữ
        hình dạng tốt hơn và một bình xịt là cần thiết khi gấp ướt.
      </div>
    </article>
    <section class="comment-section">
      <h2>Bình luận</h2>
      {% for cmt in post_cmt %}
      <article class="cmt">
        <div class="author">
          <div class="author__name">
            {% if cmt.profile.pic %}
            <img src="../media/{{ cmt.profile.pic }}" alt="" />
            {% else %}
            <img src="{% static 'Image/blank_avt.jpg' %}" alt="" />
            {% endif %}
            <h4>{{cmt.user}}</h4>
          </div>
          <h5><p>{{cmt.date}}</p></h5>
        </div>
        <div class="cmt__content">{{cmt.body|linebreaks}}</div>
      </article>
      {% endfor %}
      <div>
        <form method="POST" class="write__comment">
          {% csrf_token %}
          <h2><label>Bình luận tại đây nè :3</label></h2>
          {{form.body}}
          <br />
          <input type="submit" value="Bình luận" />
        </form>
      </div>
    </section>

    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
