<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami - Lịch sử Origami</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link
      rel="icon"
      href="/static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}" />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      class="po__fixed"
    ></nav>
    <article class="content">
      <h1 style="font-size: 4rem">Lược sử Origami</h1>
      <div class="article borr-1">
        <h1>Origami</h1>
        Origami (折り紙), trong đó ‘Ori’ (折り) nghĩa là gấp, xếp, ‘gami’ hay
        ‘kami’ (紙) là giấy, là một loại hình nghệ thuật gấp giấy, thường gắn
        liền với văn hóa Nhật Bản. Mục đích là biến một tờ giấy vuông phẳng
        thành một tác phẩm hoàn chỉnh thông qua kỹ thuật gấp. Những người chơi
        origami hiện đại thường không khuyến khích việc sử dụng các vết cắt, keo
        dán hoặc đánh dấu trên giấy. Những nghệ nhân Origami thường sử dụng từ
        “kirigami” để chỉ các thiết kế sử dụng các vết cắt. Từ các nếp gấp cơ
        bản, các nghệ nhân Origami có thể sáng tạo ra những thiết kế vô cùng
        tinh vi và phức tạp. Một trong những mô hình origami nổi tiếng, được
        nhiều người biết đến nhất là mô hình con hạc giấy. Nhìn chung, thuật gấp
        giấy Origami biến những miếng giấy hình chữ nhật (2 chiều), mà thường là
        hình vuông, thành những hình phức tạp (3 chiều), không cắt dán trong quá
        trình gập, và đây cũng là xu hướng của origami hiện đại. Không giống như
        người ta thường nghĩ, các quy tắc origami truyền thống của Nhật Bản (bắt
        đầu từ khoảng triều Edo 1603-1867), lại ít nghiêm ngặt hơn origami hiện
        đại: giấy gấp có thể là hình tròn, tam giác, và có thể cắt dán trong quá
        trình gấp. Các nguyên tắc của Origami còn được ứng dụng trong y học,
        đóng gói và cac ứng dụng kĩ thuật khác.
        <h1>Lịch sử</h1>
        Chúng ta biết rất ít về nguồn gốc của Origami. Vài ý kiến cho là Origami
        có nguồn gốc từ Trung Quốc khoảng 2000 năm trước. Nhưng điều này hầu như
        không đúng. Quan niệm này được phỏng đoán dựa trên việc cho rằng Origami
        bắt đầu có ngay sau khi phát minh ra giấy, chẳng có chứng cớ nào xác
        minh điều này. Giấy của triều Hậu Hán chẳng cho ta thấy chút bóng dáng
        nào về Origami. Tiếng Trung Quốc chữ “giấy” là "zhi", nó là một vật được
        phát minh ra để viết lên thay cho lụa. Trong phần giải thích nguồn gốc
        từ “giấy”- "kami" trong tiếng Nhật, nói rằng giấy đã từng được làm từ gỗ
        cây bulo, đọc là "kaba" hay vót từ thân tre hoặc các gỗ khác đọc là
        "kan". Tất cả chúng đều là vật dùng để viết lên. Như vậy hầu như chẳng
        có tài liệu nào từ thời ấy cho thấy ngoài công dụng để viết lên thì giấy
        còn có thể dùng để xếp nữa cả. Những ý kiến khác cho rằng Origami có
        nguồn gốc từ triều đại Heian của Nhật Bản. Điều này hầu như lại sai một
        lần nữa. Họ đã tham khảo từ một câu chuyện kể về Abe-no Seimei người đã
        làm một con chim bằng giấy và biến nó thành một con chim thật, hay từ
        một câu chuyện khác nói về Fujiwara-no Kiyosuke người đã gửi cho cô bạn
        gái cũ của mình một con ếch cuộn bằng giấy. Chẳng mấy có lý vì nó chỉ là
        truyện cổ tích, tuy nhiên cái làm người ta tin đó là những vật kể trên
        đã được làm ra từ giấy.
      </div>
    </article>
    <section class="comment-section">
      <h2>Bình luận</h2>
      {% for cmt in post_cmt %}
      <article class="cmt">
        <div class="author">
          <div class="author__name">
            {% if cmt.profile.pic %}
            <img src="../media/{{ cmt.profile.pic }}" alt="" />
            {% else %}
            <img src="{% static 'Image/blank_avt.jpg' %}" alt="" />
            {% endif %}
            <h4>{{cmt.user}}</h4>
          </div>
          <h5><p>{{cmt.date}}</p></h5>
        </div>
        <div class="cmt__content">{{cmt.body|linebreaks}}</div>
      </article>
      {% endfor %}
      <div>
        <form method="POST" class="write__comment">
          {% csrf_token %}
          <h2><label>Bình luận tại đây nè :3</label></h2>
          {{form.body}}
          <br />
          <input type="submit" value="Bình luận" />
        </form>
      </div>
    </section>
    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
