<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami - Lịch sử Origami</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}" />
  </head>
  <body>
    <nav w3-include-html="{% static 'HTML/nav.min.html' %}" class="po__fixed"></nav>
    <article class="content">
      <h1 style="font-size: 4rem">Lược sử Origami</h1>
      <div class="article borr-1">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
          inventore odit consectetur non, ipsum deleniti, maxime tempora vitae
          optio, iure dolorum cum est laboriosam sapiente amet aperiam. Maiores,
          officiis quae.
        </p>
        <span>
          <h1>Section1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
        <span>
          <h1>Section2</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
        <span>
          <h1>Section3</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
        <span>
          <h1>Section4</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            possimus, provident tempora qui dolorem harum quia commodi delectus
            minima ad dignissimos ut. Voluptatibus quisquam reprehenderit
            quibusdam in nulla repellendus impedit explicabo illo distinctio!
            Totam, rerum? Sint tempore architecto a alias fuga ducimus dolore
            velit numquam, voluptatibus repudiandae nemo sequi? Recusandae nihil
            earum sunt sint sed expedita distinctio animi voluptatem, numquam
            blanditiis nostrum possimus nobis, officia natus soluta at? Hic
            odit, laborum doloremque expedita, blanditiis voluptatum numquam
            voluptates unde praesentium officiis, itaque distinctio consequuntur
            aut ipsam suscipit repudiandae dolor aliquam sunt ipsa dicta quas
            nostrum sed ad rem. Nihil, et ullam.
          </p>
        </span>
      </div>
    </article>
    <section class="comment-section">
      <h2>Comments</h2>
      <article class="cmt">
        <div class="author">
          <img src="../static/Image/hung.jpg" alt="" />
          <p>Anonymous</p>
        </div>
        <div class="cmt__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          amet, commodi omnis corporis maxime laudantium eaque accusantium
          veniam hic beatae. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Cupiditate animi reiciendis at modi veritatis possimus
          doloremque quia assumenda quis neque, quibusdam hic tempora esse optio
          dolorum totam unde iste soluta!
          
        </div>
      </article>
<div>
  <form method="POST">
      {% csrf_token %}
      <p><label>The hien y kien cua mn tai day ne :></label></p>
      {{form.body}}
      <br/>
      <input type="submit" value="Bình luận"/>
  </form>
  </div>
  
  {% for cmt in all_comment %}
  <div class="container" style="border: 3px dotted rgb(153, 255, 51);">
    <h4><strong>{{cmt.user}}</strong></h4>
    <h5><p>{{cmt.date}}</p></h5>
    <p>{{cmt.body|linebreaks}}</p>
  </div>
{% endfor %}


      </section>
    </section>
    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
