<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami - Các loại Origami</title>
    <link
      rel="icon"
      href="/static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}" />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      class="po__fixed transpr"
    ></nav>
    <article class="content">
      <div class="title">
        <h1 style="font-size: 4rem">Các thể loại Origami</h1>
      </div>
      <div class="article">
        <h1>Origami chuyển động</h1>
        <div class="band img"></div>
        <p class="cap">Mô hình ban nhạc của Robert Lang.</p>
        Ngoài các mô hình origami tĩnh, còn có các mô hình vật thể chuyển động;
        chúng có thể di chuyển theo những cách thông minh. Origami chuyển động
        bao gồm origami bay, cần được bơm phồng để hoàn thành hoặc, khi hoàn
        thành, sử dụng động năng của tay, được áp dụng tại một vùng nhất định
        trên mô hình để di chuyển một bộ phận nào đó. Một số người cho rằng, nói
        đúng ra, chỉ có cách thứ hai mới thực sự được "công nhận" là origami
        chuyển động. Origami chuyển động, lần đầu tiên xuất hiện với hình ảnh
        con chim vỗ cánh truyền thống của Nhật Bản, đã trở nên khá phổ biến. Một
        ví dụ nữa là những người chơi nhạc cụ của Robert Lang; khi đầu của các
        nhân vật được kéo ra khỏi cơ thể của họ, tay của chúng sẽ di chuyển,
        giống như đang chơi nhạc.
        <h1>Origami mô-đun</h1>
        <div class="phanloai img"></div>
        <p class="cap">Một mô hình ngôi sao 20 cánh</p>
        Origami mô-đun bao gồm việc ghép một số mảnh giống hệt nhau lại với nhau
        để tạo thành một mô hình hoàn chỉnh. Thường thì các mảnh riêng lẻ rất
        đơn giản, nhưng việc lắp ráp cuối cùng có thể sẽ khó hơn. Nhiều mô hình
        origami mô-đun là những quả bóng gấp trang trí như kusudama, khác với
        origami cổ điển ở chỗ các mảnh có thể được giữ lại với nhau bằng chỉ
        hoặc keo. Thuật gấp giấy của Trung Quốc, người anh em họ của origami,
        gồm một phong cách tương tự được gọi là gấp giấy vàng, trong đó một số
        lượng lớn các mảnh ghép lại với nhau để tạo ra các mô hình phức tạp.
        Phong cách này thường được gọi là "3D origami". Tuy nhiên, cái tên đó đã
        không xuất hiện cho đến khi Joie Staff xuất bản một loạt sách có tựa đề
        3D Origami, More 3D Origami, và More and More 3D Origami. Phong cách này
        bắt nguồn từ một số người tị nạn Trung Quốc khi họ bị giam giữ ở Mỹ và
        còn được gọi là Golden Venture phỏng từ con tàu mà họ đến.
        <h1>Gấp ướt</h1>
        <div class="buffalo img"></div>
        <p class="cap">Mô hình con trâu sử dụng kĩ thuật gấp ướt</p>
        Gấp ướt là một kỹ thuật gấp giấy origami, dùng để tạo ra các mô hình có
        đường cong nhẹ nhàng hơn là các nếp gấp hình học thẳng và bề mặt phẳng.
        Giấy được làm ẩm để có thể tạo khuôn một cách dễ dàng, mô hình cuối cùng
        vẫn giữ nguyên hình dạng khi khô. Ví dụ, gấp ướt có thể được sử dụng để
        tạo ra các mô hình động vật trông rất tự nhiên. Size, một chất kết dính
        giòn và cứng khi khô, nhưng tan trong nước khi ướt và trở nên mềm và
        dẻo, thường được áp dụng cho giấy ở giai đoạn bột giấy trong khi giấy
        đang được tạo hình, hoặc trên bề mặt của một trang giấy sẵn sàng sử
        dụng. Phương pháp thứ hai được gọi là định cỡ bên ngoài và phổ biến nhất
        là sử dụng Methylcellulose, hoặc MC, bột nhão, hoặc các loại tinh bột
        thực vật khác nhau.
        <h1>Origami Thuần khiết</h1>
        <div class="butterfly img"></div>
        <p class="cap">Mô hình con bướm chỉ sử dụng các nếp gấp cơ bản</p>
        Origami thuần khiết bổ sung các hạn chế rằng chỉ có thể sử dụng các nếp
        gấp đơn giản như nếp gấp núi/thung lũng và tất cả các nếp gấp phải có vị
        trí thẳng hàng. Nó được phát triển bởi John Smith vào những năm 1970 để
        giúp đỡ những người chưa có kinh nghiệm hoặc những người có kỹ năng vận
        động hạn chế. Một số nhà gấp giấy cũng thích thử thách tính sáng tạo của
        mình trong những ràng buộc nghiêm ngặt.
        <h1>Origami Khảm</h1>
        <div class="tessellation img"></div>
        <p class="cap">Mô hình khảm tam giác xoắn</p>
        Origami khảm là một nhánh của origami, đã trở nên phổ biến từ sau những
        năm 2000. Khảm miêu tả việc các hình lấp đầy một mặt phẳng không có
        khoảng trống hoặc chồng chéo lên nhau. Trong origami khảm, các nếp gấp
        được sử dụng để kết nối các phần với nhau, chẳng hạn như các nếp gấp
        xoắn lại với nhau theo kiểu lặp lại. Trong những năm 1960, Shuzo
        Fujimoto là người đầu tiên khám phá cách xếp nếp gấp theo bất kỳ hệ
        thống nào, đưa ra hàng chục mẫu và thiết lập thể loại này trong xu hướng
        gấp giấy origami. Cũng trong khoảng thời gian đó, Ron Resch đã được cấp
        bằng sáng chế cho một số mẫu khảm như một phần trong quá trình khám phá
        tác phẩm mô hình động học và các bề mặt có thể phát triển, mặc dù công
        việc của ông không được cộng đồng origami biết đến cho đến những năm
        1980. Chris Palmer là một nghệ sĩ đã khám phá sâu rộng các cách khảm sau
        khi nhìn thấy mẫu khảm Zilij ở Alhambra, và đã tìm ra cách để tạo ra
        những bức tranh origami khảm chi tiết từ lụa. Robert Lang và Alex
        Bateman là hai nhà thiết kế sử dụng chương trình máy tính để tạo ra các
        tác phẩm xếp giấy origami. Hội nghị quốc tế đầu tiên dành cho cách xếp
        giấy origami được tổ chức tại Brasília (Brazil) vào năm 2006, và cuốn
        sách hướng dẫn đầu tiên về các mẫu gấp khảm được Eric Gjerde xuất bản
        vào năm 2008. Kể từ đó, lĩnh vực này đã phát triển rất nhanh chóng. Các
        nghệ nhân khảm Origami nổi tiếng bao gồm Polly Verity (Scotland); Joel Cooper,
        Christine Edison, Ray Schamp và Goran Konjevod đến từ Hoa Kỳ; Roberto
        Gretter (Ý); Christiane Bettens (Thụy Sĩ); Carlos Natan López (Mexico);
        và Jorge C. Lucero (Brazil).
        <h1>Kirigami</h1>
        <div class="castle img"></div>
        <p class="cap">Mô hình lâu đài</p>
        Kirigami là một thuật ngữ tiếng Nhật để chỉ việc cắt giấy. Việc cắt giấy
        thường được sử dụng trong origami truyền thống của Nhật Bản, nhưng những
        cải tiến hiện đại trong kỹ thuật đã khiến việc sử dụng các vết cắt không
        còn cần thiết. Hầu hết các nhà thiết kế origami không còn coi các mô
        hình có vết cắt là origami nữa, thay vào đó họ sử dụng thuật ngữ
        Kirigami để mô tả chúng. Sự thay đổi thái độ này xảy ra trong những năm
        60 và 70 của thế kỉ 20, vì vậy những cuốn sách origami ban đầu thường sử
        dụng những vết cắt, nhưng phần lớn chúng đã biến mất khỏi các tiết mục
        origami hiện đại; hầu hết các sách hiện đại thậm chí không đề cập đến
        việc cắt.
        <h1>Gấp dải</h1>
        <img src="" alt="" />
        <div class="pentagon img"></div>
        <p class="cap">Mô hình ngôi sao 5 cánh</p>
        Gấp dải là sự kết hợp giữa gấp giấy và dệt giấy. Một ví dụ phổ biến về
        gấp dải là mô hình ngôi sao 5 cánh. Một mẫu gấp phổ biến khác là ngôi
        sao Moravian được tạo ra bằng cách gấp dải theo thiết kế 3 chiều để tạo
        nên 16 chiếc gai.
      </div>
    </article>
    <section class="comment-section" id="here">
      <h2>Bình luận</h2>
      {% for cmt in post_cmt %}
      <article class="cmt">
        <div class="author">
          <div class="author__name">
            {% if cmt.profile.pic %}
            <img src="../media/{{ cmt.profile.pic }}" alt="" />
            {% else %}
            <img src="{% static 'Image/blank_avt.jpg' %}" alt="" />
            {% endif %}
            <h4>{{cmt.user}}</h4>
          </div>
          <h5><p>{{cmt.date}}</p></h5>
        </div>
        <div class="cmt__content">{{cmt.body|linebreaks}}</div>
      </article>
      {% endfor %}
      {% if user.is_authenticated %}
      <div>
        <form method="POST" class="write__comment">
          {% csrf_token %}
          <h2><label>Bình luận tại đây nè :3</label></h2>
          {{form.body}}
          <br />
          <input type="submit" value="Bình luận" />
        </form>
      </div>
      {% else %}
      <a href="/signin" style="font-size: 2rem; text-align: center; display: block; color: #3498db;">Chưa đăng nhập ? Đăng nhập và bình luận ngay !</a>
      {% endif %}
    </section>
    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
