<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% if user.first_name %}
    <title>{{ user.first_name }}'s profile</title>
    {% else %}
    <title>{{ user.username }}'s profile</title>
    {% endif %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'profile_css/profile.css' %}" />
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <a href="/"><b>Origami</b></a>
      </div>
      <div class="signout">
        <!-- <a href="" style="background-color: aquamarine;">Profile</a> -->

        <!-- <h2 style="display: inline; color:white">|</h2> -->
        <a href="/signout">Đăng xuất</a>
      </div>
    </div>
    <div class="user-box">
      <section class="user-box__img">
        <div class="img">
          {% if user_profile.pic %}
          <img src="../media/{{ user_profile.pic }}" alt="" />
          {% else %}
          <img src="{% static 'Image/blank_avt.jpg' %}" alt="" />
          {% endif %}
          <div class="after-container"></div>
          <label for="actual-btn" class="cta">
            <div class="cta_a">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                ></path>
              </svg>
              <b>Chọn avatar</b>
            </div>
          </label>
        </div>
        <h2>{{ user.username }}'s Profile</h2>
        <form enctype="multipart/form-data" , method="POST">
          {% csrf_token %}
          <input
            name="pic"
            type="file"
            accept="image/*"
            id="actual-btn"
            required
            hidden
          />
          <input type="submit" value="Đổi" />
        </form>
      </section>
      <section class="user-box__info">
        <div class="textbox">
          <span class="user-info">Username:</span>
          <p class="load-data">{{ user.username }}</p>
        </div>
        <div class="textbox">
          <span class="user-info">Full name:</span>
          <p class="load-data">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="textbox">
          <span class="user-info">Email address:</span>
          <p class="load-data">{{ user.email }}</p>
        </div>
        <!-- <div class="textbox">
                    <span class="user-info">Phone number:</span>
                    <p class="load-data">Phone number goes here</p>
                </div> -->
        <section class="new__article">
          <a href="/"></a>
        </section>
      </section>
    </div>
  </body>
</html>
