<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Sign In</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'signin_css/signin.css' %}" />
  </head>

  <body>
    <a href="/" class="back">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
    </a>
    <article class="major">
      <section class="major__form">
        <h1>Login</h1>
        <form action="/signin/" method="POST">
			{% csrf_token %}
            <div class="textbox">
                <input id="id_username" 
                        type="text" 
                        placeholder="Username" 
                        name="username" 
                        value="{{ username }}" 
                        required/>
            </div>
            <div class="textbox">
                <input id="id_password" 
                        type="password" 
                        placeholder="Password" 
                        name="password" 
                        value="" 
                        required/>
            </div>
            <p style="color: crimson;">{{error}}</p>
            <!-- <a href="" id="forgot">Forgot your password ?</a> -->
            <input class="btn" type="submit" value="Sign in" />
        </form>
      </section>
      <section class="minor">
        <h1>New here ?</h1>
        <span>Nhập thông tin và bắt đầu khám phá trang !</span>
        <a href="/signup" class="minor__button">Đăng ký</a>
      </section>
    </article>
    <script src="{% static 'JS/nav.js' %}"></script>
  </body>
</html>
