<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Origami - Toán học và kỹ thuật Origami</title>
    <link
      rel="icon"
      href="/static/Image/origami.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}" />
  </head>
  <body>
    <nav
      w3-include-html="{% static 'HTML/nav.min.html' %}"
      class="po__fixed transpr"
    ></nav>
    <article class="content">
      <div class="title">
        <h1 style="font-size: 4rem">Toán học và kỹ thuật Origami</h1>
      </div>
      <div class="article">
        <h1>Toán học và ứng dụng thực tế</h1>
        <img src="" alt="" />
        <div class="spring img"></div>
        <p class="cap">
          Spring Into Action, do Jeff Beynon thiết kế, được làm từ một mảnh giấy
          hình chữ nhật duy nhất.
        </p>
        Việc thực hành và nghiên cứu origami bao hàm một số chủ đề toán học quan
        tâm. Ví dụ, vấn đề về “khả năng gấp phẳng” (liệu một mẫu gấp có thể được
        trải phẳng thành một mô hình 2 chiều hay không) đã là một chủ đề nghiên
        cứu toán học đáng kể. Một số tiến bộ công nghệ đã đến từ những hiểu biết
        sâu sắc thu được thông qua việc gấp giấy. Ví dụ, các kỹ thuật đã được
        phát triển để triển khai túi khí ô tô và cấy ghép ống đỡ động mạch. Vấn
        đề của origami cứng ("nếu chúng ta thay thế giấy bằng kim loại tấm và có
        bản lề thay cho các đường gấp khúc, liệu chúng ta có thể gấp mô hình
        không?") có tầm quan trọng thực tế rất lớn. Ví dụ, nếp gấp bản đồ Miura
        là một nếp gấp cứng nhắc đã được sử dụng để triển khai các mảng tấm pin
        mặt trời lớn cho các vệ tinh không gian . Origami có thể được sử dụng để
        xây dựng các thiết kế hình học khác nhau không thể thực hiện được với
        các cấu trúc bằng la bàn và thước thẳng . Ví dụ, gấp giấy có thể được sử
        dụng để cắt góc và nhân đôi khối lập phương.
        <h1>Origami kỹ thuật</h1>
        Origami kỹ thuật, được biết đến trong tiếng Nhật là origami sekkei
        (折り紙設計) , là một cách tiếp cận thiết kế gấp giấy origami trong đó
        mô hình được hình thành như một mẫu gấp nếp được thiết kế, thay vì được
        phát triển thông qua thử nghiệm và sai sót. Với những tiến bộ trong toán
        học origami, cấu trúc cơ bản của một mô hình origami mới về mặt lý
        thuyết có thể được vẽ trên giấy trước khi thực hiện bất kỳ thao tác gấp
        nào. Phương pháp thiết kế gấp giấy origami này được Robert Lang, Meguro
        Toshiyuki và những người khác phát triển và cho phép tạo ra các mô hình
        nhiều chi cực kỳ phức tạp như con rết nhiều chân, hình người với đầy đủ
        ngón tay và ngón chân, v.v. Mẫu gấp là bố cục của các đường gấp khúc cần
        thiết để tạo thành cấu trúc của mô hình. Nghịch lý thay, khi các nhà
        thiết kế origami đưa ra một mẫu gấp cho một thiết kế mới, phần lớn các
        nếp gấp nhỏ hơn tương đối không quan trọng và chỉ được thêm vào để hoàn
        thành mô hình. Điều quan trọng hơn là sự phân bổ các vùng của tờ giấy và
        cách chúng được ánh xạ tới cấu trúc của đối tượng đang được thiết kế.
        Bằng cách mở một mô hình gấp, bạn có thể quan sát các cấu trúc bao gồm
        nó; việc nghiên cứu các cấu trúc này đã dẫn đến một số cách tiếp cận
        thiết kế theo hướng mô hình nếp gấp.
        <h1>Máy tính và sự liên quan đến Origami</h1>
        Một số công cụ hỗ trợ máy tính cho origami đã được phát minh ra như
        TreeMaker và Oripa. TreeMaker cho phép các mẫu gấp giấy origami mới được
        thiết kế cho các mục đích đặc biệt và Oripa cố gắng tính toán hình dạng
        gấp từ mẫu nếp gấp. GS Mittani Jun (Khoa Khoa học máy tính, Trường Đại
        học Tsukuba) đã tạo nên một phương pháp mới - “Origami hình học không
        gian” với không gian ba chiều và các mặt cong. Người gấp sẽ dùng phần
        mềm máy tính để thiết kể hình dáng hoàn chỉnh và quy trình gấp của mình
        thay cho cách gấp theo phương pháp cổ truyền. Phương pháp mới không dễ
        và đòi hỏi người “chơi” phải có một trình độ nhất định về hình học không
        gian và lập trình máy tính nhưng khi thành công sẽ cho ra đời những hình
        khối ba chiều kỳ ảo.
      </div>
    </article>
    <section class="comment-section">
      <h2>Bình luận</h2>
      {% for cmt in post_cmt %}
      <article class="cmt">
        <div class="author">
          <div class="author__name">
            {% if cmt.profile.pic %}
            <img src="../media/{{ cmt.profile.pic }}" alt="" />
            {% else %}
            <img src="{% static 'Image/blank_avt.jpg' %}" alt="" />
            {% endif %}
            <h4>{{cmt.user}}</h4>
          </div>
          <h5><p>{{cmt.date}}</p></h5>
        </div>
        <div class="cmt__content">{{cmt.body|linebreaks}}</div>
      </article>
      {% endfor %}
      <div>
        <form method="POST" class="write__comment">
          {% csrf_token %}
          <h2><label>Bình luận tại đây nè :3</label></h2>
          {{form.body}}
          <br />
          <input type="submit" value="Bình luận" />
        </form>
      </div>
    </section>
    <footer
      w3-include-html="{% static 'HTML/footer.html' %}"
      class="foot"
    ></footer>
    <script src="{% static 'JS/nav.js' %}"></script>
    <script>
      includeHTML();
    </script>
  </body>
</html>
